body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

header {
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

header h1 {
    margin: 0;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#images {
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.image-container img {
    width: 30%;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.image-container img:hover {
    transform: scale(1.1);
}

#hover-effect {
    text-align: center;
}

.hover-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.hover-image {
    width: 30%;
    height: 150px;
    background-color: #e74c3c;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.hover-image:hover {
    transform: scale(1.1);
}

.hover-text {
    color: #e43d2a;
    font-weight: bold;
}

footer {
    background-color: #34495e;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-logo {
    font-size: 24px;
    font-weight: bold;
}

.company-info {
    max-width: 300px;
}

.contact-form {
    max-width: 300px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input,
textarea {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #c0392b;
}